#city-input {
    border: 2px solid #d1d5db;
    border-radius: 6px;
    padding: 10px;
}

#search-button, #clear-history, .city-button {
    background-color: #3b82f6;
    color: #ffffff;
    padding: 10px 5px;
    margin-top: 10px;
    border-radius: 6px;
    cursor: pointer;
}

#section-style {
    margin-left: 25px;
}

#title-style {
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: bold;
}

#headline-style {
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
}

.city-button {
    background-color: #e5e7eb;
    color: #000000;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
}

.city-button:hover {
    background-color: #f3f4f6;
}

.weather-card {
    background-color: #272f3b;
    color: white;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
    text-align: left;
}

.current-card {
    border: 1px solid #000000;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
    text-align: left;
}

@media (max-width: 640px) {
    .flex {
        flex-direction: column;
    }
    #city-list {
        display: none;
    }
}